# Created by make-version.h
version.h

# ArduinoEclipse
.project
.cproject
/.settings/
/Release/
.ino.cpp
spec.d

# Stuff that is created by make-zip
*.zip

# Emacs
*~

# vim, vi, etc
.*.swp

# MacOS
.DS_Store

# Other temp files
*.bak
/tmp/
